{% extends 'base.html' %}

{% block title %}
    Сброс пароля
{% endblock %}

{% block content %}

    <div class="row align-items-center percent90-height justify-content-center">

        <div class="col-sm-8 col-md-8 col-lg-4">
            <div class="display-6 text-center mb-3">Сброс пароля</div>


            <p class="h5">Мы отправили вам по электронной почте инструкции по установке пароля.</p>
            <p class="h5">Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы указали адрес, который указывали
                при
                регистрации, и проверьте папку со спамом.</p>
        </div>
    </div>
{% endblock %}